:root {
  --softCyan: hsl(174, 77%, 80%);
  --strongCyan: hsl(174, 86%, 45%);
  --lightGrayishRed: hsl(14, 92%, 95%);
  --lightRed: hsl(15, 100%, 70%);
  --paleBlue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --veryPale: hsl(222, 87%, 97%);
  --lightGrayishBlue: hsl(226, 68%, 95%);
  --lightGrayishBlueToggle: hsl(222, 49%, 87%);
  --grayishBlue: hsl(225, 20%, 60%);
  --darkDesaturatedBlue: #293356;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

body::after {
  content: "";
  display: block;
  background-color: var(--veryPale);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  border-bottom-left-radius: 35%;
}

main.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}

@media (min-width: 1440px) {
  main.container {
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
  }
}

main.container .trial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  height: 200px;
  padding: 20px 10px;
  position: relative;
}

main.container .trial-info::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  border-radius: 50%;
  border: 1px solid var(--grayishBlue);
  opacity: 0.4;
}

main.container .trial-info::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid var(--grayishBlue);
  opacity: 0.4;
}

main.container .trial-info .title {
  color: var(--darkDesaturatedBlue);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

main.container .trial-info p.trial-details {
  color: var(--grayishBlue);
  padding: 3px;
}

main.container .payment-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 86%;
      flex-basis: 86%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: 20px;
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 12px 2px #dce3f7;
          box-shadow: 0 1px 12px 2px #dce3f7;
  /* Moz */
  /* IE*/
}

@media (min-width: 1440px) {
  main.container .payment-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

main.container .payment-details .pageviews {
  color: var(--grayishBlue);
  padding: 10px 10px 30px 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: medium;
  font-weight: bold;
}

@media (min-width: 1440px) {
  main.container .payment-details .pageviews {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 25px 10px;
    margin-left: 0;
    margin-right: auto;
  }
}

main.container .payment-details input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 50px auto;
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 1440px) {
  main.container .payment-details input[type="range"] {
    margin: 35px auto 20px auto;
  }
}

main.container .payment-details input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  margin: -16px;
  background-color: var(--strongCyan);
  cursor: pointer;
  border-radius: 50%;
}

main.container .payment-details input[type="range"]:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 10px 30px 0 var(--strongCyan);
          box-shadow: 0 10px 30px 0 var(--strongCyan);
}

main.container .payment-details input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  background-color: var(--lightGrayishBlue);
  border-radius: 10px;
  border: none;
}

main.container .payment-details input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: var(--strongCyan);
  cursor: pointer;
  border-radius: 50%;
}

main.container .payment-details input[type="range"]::-moz-range-progress {
  background-color: var(--softCyan);
  height: 50%;
  border-radius: 50%;
  border: none;
}

main.container .payment-details input[type="range"]::-moz-range-track {
  background-color: var(--veryPale);
  border: none;
  height: 100%;
}

main.container .payment-details input[type="range"]::-ms-fill-lower {
  background-color: var(--softCyan);
  height: 100%;
  border-radius: 50%;
  border: none;
}

main.container .payment-details input[type="range"]::-ms-fill-upper {
  background-color: var(--veryPale);
  border-radius: 50%;
  border: none;
  height: 100%;
}

main.container .payment-details p.price {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  color: var(--grayishBlue);
  padding: 10px 10px 0 10px;
}

@media (min-width: 1440px) {
  main.container .payment-details p.price {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

main.container .payment-details p.price .bill {
  font-size: xx-large;
  color: var(--darkDesaturatedBlue);
  vertical-align: -12%;
  font-weight: bold;
}

main.container .payment-details p.yearPrice {
  visibility: hidden;
}

@media (min-width: 1440px) {
  main.container .payment-details p.yearPrice {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

main.container .payment-details p.yearPrice.active {
  visibility: visible;
}

main.container .payment-details .payment-choice {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

main.container .payment-details .payment-choice .type {
  color: var(--grayishBlue);
  font-size: smaller;
}

main.container .payment-details .payment-choice .toggle {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--lightGrayishBlueToggle);
  margin: 0 10px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.container .payment-details .payment-choice .toggle .thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white);
  display: block;
}

main.container .payment-details .payment-choice .toggle.active {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--strongCyan);
}

main.container .payment-details .payment-choice .discount {
  color: var(--lightRed);
  background-color: var(--lightGrayishRed);
  border-radius: 10px;
  padding: 0 10px;
  font-size: x-small;
  line-height: 2;
  margin-left: 7px;
  margin-right: 7px;
}

main.container .payment-details .payment-results {
  width: 100%;
  border-top: 0.5px solid var(--lightGrayishBlue);
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 10px;
}

main.container .payment-details .payment-results .results {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1440px) {
  main.container .payment-details .payment-results .results {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

main.container .payment-details .payment-results .results .result {
  text-align: center;
  font-size: smaller;
  color: var(--grayishBlue);
  padding: 5px 10px;
  font-weight: bold;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1440px) {
  main.container .payment-details .payment-results .results .result {
    text-align: left;
  }
}

main.container .payment-details .payment-results .results .result .fa-check {
  margin-right: 10px;
  color: var(--strongCyan);
}

main.container .payment-details .payment-results .buy {
  background-color: var(--darkDesaturatedBlue);
  width: 160px;
  padding: 10px 30px;
  color: var(--paleBlue);
  margin: 20px auto 0 auto;
  border-radius: 25px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

@media (min-width: 1440px) {
  main.container .payment-details .payment-results .buy {
    margin: auto;
  }
}

footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin: 80px auto 50px auto;
  padding: 20px 0;
  font-size: smaller;
}
/*# sourceMappingURL=app.css.map */