:root {
  // Primary
  --softCyan: hsl(174, 77%, 80%); //full slider bar
  --strongCyan: hsl(174, 86%, 45%); //slider background
  --lightGrayishRed: hsl(14, 92%, 95%); //discount background
  --lightRed: hsl(15, 100%, 70%); //discount text
  --paleBlue: hsl(226, 100%, 87%); //CTA text
  // Neutral
  --white: hsl(0, 0%, 100%); // pricing component background
  --veryPale: hsl(222, 87%, 97%); // Main background
  --lightGrayishBlue: hsl(226, 68%, 95%); // empty slide bar
  --lightGrayishBlueToggle: hsl(222, 49%, 87%); // toggle background
  --grayishBlue: hsl(225, 20%, 60%); //text
  --darkDesaturatedBlue: #293356; //text & CTA background
}
