main.container {
  display: flex;
  justify-content: center;
  flex-basis: 450px;

  .trial-info {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 200px;
    padding: 20px 10px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 140px;
      height: 140px;
      transform: translate(-50%, -40%);
      border-radius: 50%;
      border: 1px solid var(--grayishBlue);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 1px solid var(--grayishBlue);
    }
    .title {
      color: var(--darkDesaturatedBlue);
      text-align: center;
      padding: 10px 0;
    }
    p {
      color: var(--grayishBlue);
      padding: 5px;
    }
  }
}
